# === Cartelle di Build ===
build/
bin/
lib/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile

# === File Temporanei e OS ===
.DS_Store
Thumbs.db
*~
*.swp

# === IDE (VS Code, CLion, Visual Studio) ===
.vscode/
.idea/
*.user
*.suo
*.sln
*.vcxproj
*.filters

# === Output Locali dell'Applicazione ===
# Ignoriamo i file .txt di predizione generati localmente per non sporcare il repo
*.txt
# MA non dobbiamo ignorare il CMakeLists.txt!
!CMakeLists.txt

# === Libraries ===
*.o
*.obj
*.out
*.app
*.so
*.dylib
*.dll
*.lib
*.a
# === images and training data ===
build/
dataset/
*.jpg
*.png
*.mp4
